.topo {text-align: center; margin: auto; max-width: 340px;}
.clear {clear: both;}
#linguas {text-align: right;}
a {color: #0088cc; text-decoration: none; font-family: sans-serif;}
a:hover {text-decoration: underline; color: #005a1c;}
.topo {padding-bottom: 17px; padding: 12px;}
#menu {border: #0088cc solid 1px}
body {background-color: aliceblue; width: 95%; margin: auto; max-width: 980px;}
.conteudo {font-family: 'Open Sans', sans-serif;}
.titulo {font-family: 'Open Sans', sans-serif; color: #005a1c;}
.conteudo h1 {color: #0088cc;}
.conteudo p {color: #333;}
.conteudo {text-align: justify;}
.conteudo h2 {color: #005a1c}
.topo p {text-align: center;}
.titulo-projetos {text-align: center;}
.anterior-proximo {text-align: center;}
.imagem-contato {float: left; padding-right: 15px; padding-bottom: 15px;}
.rodape {text-align: center; color: #0088cc; font-family: 'Open Sans', sans-serif; text-shadow: black 10px;}
