.topo {text-align: center; margin-left: 35%; margin-right: 35%;}
.clear {clear: both;}
#linguas {text-align: right;}
a {color: #0088cc; text-decoration: none; font-family: sans-serif;}
a:hover {text-decoration: underline; color: #005a1c;}
.topo {padding-bottom: 17px;}
#menu {border: #0088cc solid 1px}
body { background-color: aliceblue; padding: 12px;}
.conteudo {font-family: 'Open Sans', sans-serif;}
.titulo {font-family: 'Open Sans', sans-serif; color: #005a1c;}
.conteudo h1 {color: #0088cc;}
.conteudo p {color: #333;}
.conteudo {text-align: justify; max-width: 800px; width:200%; padding-left: 200px; padding-right: 100px;}
.conteudo h2 {color: #005a1c}
.topo p {text-align: center;}
.titulo-projetos {text-align: center;}
.anterior-proximo {text-align: center;}
.imagem-contato {float: left; padding-right: 15px; padding-bottom: 15px;}
.rodape {text-align: center; color: #0088cc; font-family: 'Open Sans', sans-serif; text-shadow: black 10px;}
